<mat-toolbar class="wrapper mat-elevation-z10">
  <button
    mat-button
    routerLink="/"
    routerLinkActive="active"
    style="cursor: pointer"
  >
    <span class="brand-text"> Recipe Book </span>
  </button>
  <ng-container *ngIf="(isHandset$ | async) === false; else SmallAppMenu">
    <nav mat-tab-nav-bar>
      <button
        mat-button
        *ngIf="isLoggedIn$ | async"
        routerLinkActive="active"
        [routerLink]="[Routes.Recipes]"
      >
        <div class="nav-item">Recipes</div>
      </button>

      <button
        mat-button
        *ngIf="isLoggedIn$ | async"
        routerLinkActive="active"
        [routerLink]="[Routes.ShoppingList]"
      >
        <div class="nav-item">
          Shopping List (
          <app-flashing-text
            [text]="(shoppingListCount$ | async) || 0"
          ></app-flashing-text>
          )
        </div>
      </button>
    </nav>
    <div class="spacer"></div>

    <div
      class="nav-item"
      *ngIf="(isLoggedIn$ | async) === false; else LoggedIn"
    >
      <button mat-button routerLinkActive="active" [routerLink]="[Routes.Auth]">
        Sign In
      </button>
    </div>
    <ng-template #LoggedIn>
      <button mat-button (click)="onLogout()">
        <div class="nav-item">Logout</div>
      </button>
    </ng-template>

    <ng-container *ngIf="isLoggedIn$ | async">
      <button type="menu" mat-button [matMenuTriggerFor]="managementMenu">
        <div class="nav-item">Manage <mat-icon>expand_more</mat-icon></div>
      </button>
      <mat-menu #managementMenu="matMenu">
        <button mat-menu-item (click)="onSaveData()">Save Data</button>
        <button mat-menu-item (click)="onLoadData()">Load Data</button>
      </mat-menu>
    </ng-container>
  </ng-container>
  <!-- Small screen menu -->
  <ng-template #SmallAppMenu>
    <div class="spacer"></div>
    <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <!-- Logged in items -->
      <ng-container *ngIf="isLoggedIn$ | async; else AppMenuLoggedOut">
        <button
          mat-menu-item
          routerLinkActive="active"
          [routerLink]="[Routes.Recipes]"
        >
          Recipes
        </button>

        <button
          mat-menu-item
          routerLinkActive="active"
          [routerLink]="[Routes.ShoppingList]"
        >
          Shopping List (
          <app-flashing-text
            [text]="(shoppingListCount$ | async) || 0"
          ></app-flashing-text>
          )
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onSaveData()">Save Data</button>
        <button mat-menu-item (click)="onLoadData()">Load Data</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onLogout()">
          <div class="nav-item">Logout</div>
        </button>
      </ng-container>

      <!-- logged out items-->
      <ng-template #AppMenuLoggedOut>
        <button
          mat-menu-item
          routerLinkActive="active"
          [routerLink]="[Routes.Auth]"
        >
          Sign In
        </button>
      </ng-template>
    </mat-menu>
  </ng-template>
</mat-toolbar>
