.wrapper {
  max-width: 94vw;
}

img {
  max-height: 15rem;
}

.shadowed {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.details-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.details-row {
  flex: 1;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.slide-toggle {
  width: 100%;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  width: min-content;
  max-lines: 1;
  line-clamp: 1;
}

.flex-grow {
  flex: 1;
}

.form-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (max-width: 599.98px) {
  .form-button {
    flex: 1;
  }
}

.ingredient-phase {
  text-transform: uppercase;
  font-weight: 500;
}

.ingredient-phase-divider {
  margin-top: 1rem;
}

.gutter {
  margin-bottom: 1rem;
}

/* CDK dragging & dropping */
.phase-drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  color: black;
  min-height: 60px;
  width: 100%;
  flex: 1;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.phase-list.cdk-drop-list-dragging .phase-list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
