<div>
  <h2>{{ mode | titlecase }} recipe</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <!-- recipe fields -->
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        type="text"
        formControlName="description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input
        type="url"
        class="form-control"
        placeholder="https://"
        formControlName="imageUrl"
        #imageUrl
      />
    </div>
    <div class="form-group">
      <img
        class="img-responsive shadowed"
        [src]="imageUrl.value"
        alt="[recipe image]"
      />
    </div>
    <hr />
    <!-- phases -->
    <div class="form-group">
      <h4>Cooking Phases</h4>
      <mat-slide-toggle
        class="slide-toggle"
        name="usePhases"
        formControlName="usePhases"
        >Divide recipe into phases</mat-slide-toggle
      >
      <ng-container *ngIf="usePhases">
        <div class="flex-wrapper">
          <div>
            <input
              class="form-control"
              type="text"
              formControlName="newPhaseName"
              placeholder="phase name"
            />
          </div>
          <div>
            <app-action-button
              text="Add"
              icon="add"
              [disabled]="!canAddPhase()"
              tooltip="Add new phase"
              (clicked)="onAddPhase()"
            ></app-action-button>
          </div>
        </div>
        <div class="gutter"></div>
        <ng-container *ngIf="phases.length > 0" formArrayName="phases">
          <p>Phases:</p>
          <mat-list class="phase-list">
            <mat-list-item
              *ngFor="let phaseControl of phases.controls; let i = index"
            >
              <div class="flex-wrapper">
                <div class="flex-grow ellipsis-text">
                  {{ phaseControl.value }}
                </div>
                <button
                  mat-icon-button
                  color="warn"
                  type="button"
                  [disabled]="!canDeletePhase(phaseControl.value)"
                  [title]="
                    canDeletePhase(phaseControl.value)
                      ? 'Delete'
                      : '(phase is in use)'
                  "
                  (click)="onDeletePhase(i)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>

          <hr />
        </ng-container>
      </ng-container>
    </div>
    <!-- ingredients -->
    <div class="form-group">
      <h4>Ingredients</h4>
      <app-action-button
        text="Add ingredient"
        icon="add"
        (clicked)="onAddIngredient()"
      ></app-action-button>
      <hr *ngIf="ingredientItems.length > 0" />
      <ng-container formArrayName="ingredientItems">
        <ng-container
          *ngFor="
            let ingredientControl of ingredientItems.controls;
            let i = index
          "
          [formGroup]="ingredientControl"
        >
          <div class="ingredient-row">
            <div class="vertical-label-box">
              <div class="vertical-label">Ingredient</div>
            </div>
            <div class="ingredient-content-wrapper">
              <!-- Ingredient -->
              <div class="ingredient-name">
                <label>
                  Name
                  <input
                    class="form-control input-item"
                    type="text"
                    formControlName="ingredientName"
                  />
                </label>
              </div>
              <div class="ingredient-amount">
                <label>
                  Amount
                  <input
                    class="form-control input-item"
                    type="number"
                    formControlName="amount"
                  />
                </label>
              </div>
              <div class="ingredient-unit">
                <label>
                  Unit
                  <select
                    class="form-control input-item"
                    formControlName="unit"
                  >
                    <option
                      [value]="unit.value"
                      *ngFor="let unit of RecipeUnit | keyvalue"
                    >
                      {{ unit.value }}
                    </option>
                  </select>
                </label>
              </div>
              <div class="ingredient-phase" *ngIf="usePhases">
                <label>
                  Phase
                  <select
                    class="form-control input-item"
                    formControlName="phase"
                  >
                    <option
                      [value]="phase"
                      *ngFor="let phase of form.value.phases; let i = index"
                    >
                      {{ phase }}
                    </option>
                  </select>
                </label>
              </div>
            </div>
            <div class="ingredient-right">
              <button
                mat-icon-button
                color="warn"
                type="button"
                (click)="onDeleteIngredient(i)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <hr />
    <!-- form buttons -->
    <div class="form-buttons">
      <button
        mat-raised-button
        class="form-button"
        color="primary"
        type="submit"
        [disabled]="!canSave()"
      >
        Save
      </button>
      <button
        mat-raised-button
        class="form-button"
        type="button"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
