.btn-secondary {
  margin-left: 1em;
}

.btn-delete {
  background-color: rgb(228, 242, 189);
}

img {
  max-height: 15rem;
}

.form-control {
  border-color: #6f6f6f;
  font-weight: 300;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.inline-checkbox {
  width: 100%;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.float-left {
  float: left !important;
}

.flex-wrapper {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.flex-grow {
  flex: 1;
}

.ingredient-row {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ingredient-content-wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
  grid-template-areas: 'ing-n ing-a ing-u ing-p';
  gap: 1rem;
  border: 1px solid rgb(224, 221, 221);
  border-right: 0px transparent;
  border-radius: 0.1rem;
  padding: 1rem;
  background-color: rgb(228, 242, 189);
}

/* For small screens and side-by-side views, use multi-row grid model */
@media (max-width: 599.98px), (min-width: 860px) {
  .ingredient-content-wrapper {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'ing-n ing-a'
      'ing-p ing-u';
  }
}

.ingredient-name {
  grid-area: ing-n;
}

.ingredient-amount {
  grid-area: ing-a;
}

.ingredient-unit {
  grid-area: ing-u;
}

.ingredient-phase {
  grid-area: ing-p;
}

.vertical-label-box {
  align-self: stretch;
  width: max-content;
  height: inherit;
  background-color: rgb(163, 208, 163);
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(180deg);
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0em;
  margin-right: 0rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  border-left: 1px solid rgb(123, 122, 122);
}

.vertical-label {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-family: 'Courier New', Courier, monospace;
}

label {
  display: block !important;
}

.input-item {
  display: inline-block !important;
}

.gutter {
  margin-bottom: 1rem;
}

.phase-item-size {
  width: 50%;
}

@media (max-width: 767px) {
  .phase-item-size {
    width: 100%;
  }
}

.shadowed {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
