<div class="wrapper">
  <h2>{{ mode | titlecase }} recipe</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <!-- recipe fields -->
    <div class="details-wrapper">
      <mat-form-field class="details-row">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="details-row">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          type="text"
          formControlName="description"
          rows="3"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="details-row">
        <mat-label>Image URL</mat-label>
        <input
          matInput
          type="url"
          placeholder="https://"
          formControlName="imageUrl"
          #imageUrl
        />
      </mat-form-field>
      <div class="details-row">
        <img class="shadowed" [src]="imageUrl.value" alt="[recipe image]" />
      </div>
    </div>

    <hr />
    <!-- phases -->
    <div>
      <h4>Cooking Phases</h4>
      <mat-slide-toggle
        class="slide-toggle"
        name="usePhases"
        formControlName="usePhases"
        >Divide recipe into phases</mat-slide-toggle
      >
      <ng-container *ngIf="usePhases">
        <div class="flex-wrapper">
          <mat-form-field>
            <mat-label>Phase name</mat-label>
            <input
              matInput
              type="text"
              formControlName="newPhaseName"
              placeholder="phase name"
            />
          </mat-form-field>
          <div>
            <app-action-button
              text="Add"
              icon="add"
              [disabled]="!canAddPhase()"
              tooltip="Add new phase"
              (clicked)="onAddPhase()"
            ></app-action-button>
          </div>
        </div>
        <div class="gutter"></div>
        <ng-container *ngIf="phases.length > 0" formArrayName="phases">
          <p>Phases:</p>
          <mat-list
            class="phase-list"
            cdkDropList
            (cdkDropListDropped)="onPhaseDrop($event)"
          >
            <mat-list-item
              class="phase-list-item"
              *ngFor="let phaseControl of phases.controls; let i = index"
              cdkDrag
            >
              <div class="flex-wrapper">
                <div class="phase-drag-placeholder" *cdkDragPlaceholder></div>
                <button mat-icon-button type="button" cdkDragHandle>
                  <mat-icon>drag_handle</mat-icon>
                </button>
                <div class="flex-grow ellipsis-text">
                  {{ phaseControl.value }}
                </div>
                <button
                  mat-icon-button
                  color="warn"
                  type="button"
                  [disabled]="!canDeletePhase(phaseControl.value)"
                  [title]="
                    canDeletePhase(phaseControl.value)
                      ? 'Delete'
                      : '(phase is in use)'
                  "
                  (click)="onDeletePhase(i)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>

          <hr />
        </ng-container>
      </ng-container>
    </div>
    <!-- ingredients -->
    <div>
      <h4>Ingredients</h4>
      <app-action-button
        text="Add ingredient"
        icon="add"
        (clicked)="onAddIngredient()"
      ></app-action-button>
      <hr *ngIf="ingredientItems.length > 0" />
      <ng-container formArrayName="ingredientItems">
        <ng-container
          *ngFor="
            let ingredientControl of ingredientItems.controls;
            let i = index
          "
          [formGroup]="ingredientControl"
        >
          <div class="ingredient-row">
            <div class="vertical-label-box">
              <div class="vertical-label">Ingredient</div>
            </div>
            <div class="ingredient-content-wrapper">
              <!-- Ingredient -->
              <app-ingredient-field
                class="ingredient-input ingredient-name"
                formControlName="ingredientName"
              ></app-ingredient-field>

              <mat-form-field
                class="ingredient-input ingredient-amount"
                appearance="fill"
              >
                <mat-label>Amount</mat-label>
                <input
                  matInput
                  type="number"
                  id="amount"
                  name="amount"
                  formControlName="amount"
                  pattern="^[0-9]+[0-9]*\.?[0-9]*"
                />
              </mat-form-field>

              <mat-form-field
                class="ingredient-input ingredient-unit"
                appearance="fill"
              >
                <mat-label>Unit</mat-label>
                <mat-select formControlName="unit">
                  <mat-option
                    [value]="unit.value"
                    *ngFor="let unit of RecipeUnit | keyvalue"
                  >
                    {{ unit.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                class="ingredient-input ingredient-phase"
                *ngIf="usePhases"
              >
                <mat-label>Phase</mat-label>
                <mat-select formControlName="phase">
                  <mat-option
                    *ngFor="let phase of form.value.phases"
                    [value]="phase"
                    >{{ phase }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="ingredient-right">
              <button
                mat-icon-button
                color="warn"
                type="button"
                (click)="onDeleteIngredient(i)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <hr />
    <!-- form buttons -->
    <div class="form-buttons">
      <button
        mat-raised-button
        class="form-button"
        color="primary"
        type="submit"
        [disabled]="!canSave()"
      >
        Save
      </button>
      <button
        mat-raised-button
        class="form-button"
        type="button"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
