.btn-secondary {
  margin-left: 1em;
}

.btn-delete {
  margin-right: 1em;
  margin-left: 1em;
  padding-top: 1.3em;
}

img {
  max-height: 15rem;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.inline-checkbox {
  width: 100%;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.ingredient-row {
  display: flex;
}

.ingredient-wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
  grid-template-areas: 'ing-n ing-a ing-u ing-p';
  gap: 1rem;
  border: 1px solid rgb(224, 221, 221);
  border-radius: 0.1rem;
  padding: 1rem;
  margin: 1rem;
}

/* For small screens and side-by-side views, use multi-row grid model */
@media (max-width: 599.98px), (min-width: 860px) {
  .ingredient-wrapper {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'ing-n ing-a'
      'ing-p ing-u';
  }
}

.ingredient-name {
  grid-area: ing-n;
}

.ingredient-amount {
  grid-area: ing-a;
}

.ingredient-unit {
  grid-area: ing-u;
}

.ingredient-phase {
  grid-area: ing-p;
}

label {
  display: block !important;
}

.input-item {
  display: inline-block !important;
}

.gutter {
  margin-bottom: 1rem;
}

.phase-item-size {
  width: 50%;
}

@media (max-width: 767px) {
  .phase-item-size {
    width: 100%;
  }
}
