<div class="wrapper">
  <div class="content">
    <div *ngIf="loggedOut" class="alert alert-success" role="alert">
      <h1>Logged out!</h1>
    </div>
    <mat-card>
      <mat-card-header
        class="header"
        [ngClass]="{
          'header-login': formMode === 'login',
          'header-sign-up': formMode === 'signup'
        }"
      >
        <h3 class="title">
          {{ formMode === 'login' ? 'Log in' : 'Sign up' }}
        </h3>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <!-- Signup form -->
          <ng-container *ngIf="formMode === 'signup'">
            <mat-form-field class="input-field">
              <mat-label>Username</mat-label>
              <input
                matInput
                type="text"
                id="username"
                name="username"
                placeholder="username@example.com"
                autocomplete="username"
                ngModel
                required
                email
                #usernameInput="ngModel"
              />
              <mat-error *ngIf="usernameInput.invalid">{{
                getErrorMessage(usernameInput.control)
              }}</mat-error>
            </mat-form-field>

            <mat-form-field class="input-field">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                id="password"
                name="password"
                placeholder="password"
                autocomplete="new-password"
                ngModel
                required
                minlength="12"
                #passwordInput="ngModel"
                (change)="repeatPasswordInput.control.updateValueAndValidity()"
              />
              <mat-error
                *ngIf="!passwordInput.valid && passwordInput.touched"
                >{{ getErrorMessage(passwordInput.control) }}</mat-error
              >
            </mat-form-field>
            <mat-form-field class="input-field">
              <mat-label>Repeat password</mat-label>
              <input
                matInput
                type="password"
                id="repeatPassword"
                name="repeatPassword"
                placeholder="password"
                autocomplete="new-password"
                ngModel
                required
                appRequireEquality
                [requireEqualityTo]="passwordInput.value"
                #repeatPasswordInput="ngModel"
              />
              <mat-error
                *ngIf="
                  !repeatPasswordInput.valid && repeatPasswordInput.touched
                "
                >Password values must match!</mat-error
              >
            </mat-form-field>
          </ng-container>

          <!-- Login form -->
          <ng-container *ngIf="formMode === 'login'">
            <mat-form-field class="input-field">
              <mat-label>Username</mat-label>
              <input
                matInput
                type="text"
                id="username"
                name="username"
                placeholder="username@example.com"
                autocomplete="username"
                ngModel
                required
                #usernameInput="ngModel"
              />
              <mat-error *ngIf="usernameInput.invalid">{{
                getErrorMessage(usernameInput.control)
              }}</mat-error>
            </mat-form-field>

            <mat-form-field class="input-field">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                id="password"
                name="password"
                placeholder="password"
                autocomplete="current-password"
                ngModel
                required
                minlength="1"
                #passwordInput="ngModel"
              />
              <mat-error *ngIf="passwordInput?.invalid">{{
                getErrorMessage(passwordInput.control)
              }}</mat-error>
            </mat-form-field>
          </ng-container>

          <!-- Buttons -->
          <mat-card-actions>
            <div class="flex-row">
              <button
                type="submit"
                mat-raised-button
                [color]="formMode === 'login' ? 'primary' : 'accent'"
                class=""
                [disabled]="!form.valid || (loading$ | async)"
              >
                {{ formMode === 'login' ? 'Login' : 'Sign Up' }}
              </button>

              <button
                type="button"
                mat-button
                (click)="this.switchFormMode()"
                [disabled]="loading$ | async"
              >
                Switch to {{ formMode === 'login' ? 'sign up' : 'login' }}
              </button>
            </div>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <ngx-spinner [showSpinner]="(loading$ | async) || false"></ngx-spinner>
</div>
