/* Testing implicit content area naming for 'content' with line names 'content-start', 'content-end' */
.wrapper {
  display: grid;
  grid-template-columns: 1fr [content-start] 100% [content-end] 1fr;
  grid-template-rows: 1fr [content-start] 100% [content-end] 1fr;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 768px) {
  .wrapper {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 992px) {
  .wrapper {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.content {
  grid-area: content;
}

.flex-row {
  display: flex;
  gap: 2rem;
}

.input-field {
  width: 100%;
}

.header {
  border-radius: 0.3rem 0.3rem 0rem 0rem;

  margin-bottom: 3rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  color: white;
}

.header-login {
  background-color: #337ab7;
  border-color: #337ab7;
}

.header-sign-up {
  background-color: #79c37a;
  border-color: ##79c37a;
}

.title {
  font-size: 16pt;
}
