<div class="wrapper">
  <div class="content">
    <div *ngIf="loggedOut" class="alert alert-success" role="alert">
      <h1>Logged out!</h1>
    </div>
    <div
      class="panel"
      [ngClass]="formMode === 'login' ? 'panel-primary' : 'panel-success'"
    >
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ formMode === 'login' ? 'Log in' : 'Sign up' }}
        </h3>
      </div>
      <div class="panel-body">
        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <!-- Signup form -->
          <ng-container *ngIf="formMode === 'signup'">
            <div class="form-group form-group-lg">
              <label for="username">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                placeholder="username@example.com"
                autocomplete="username"
                ngModel
                required
                email
              />
            </div>
            <div class="form-group form-group-lg">
              <label for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                placeholder="password"
                autocomplete="new-password"
                ngModel
                required
                minlength="12"
                #passwordInput="ngModel"
                (change)="repeatPasswordInput.control.updateValueAndValidity()"
              />
              <span
                *ngIf="!passwordInput.valid && passwordInput.touched"
                class="help-block"
                >Password with minimum length of 12 is required</span
              >
            </div>
            <div class="form-group form-group-lg">
              <label for="repeatPassword">Repeat password</label>
              <input
                class="form-control"
                type="password"
                id="repeatPassword"
                name="repeatPassword"
                placeholder="password"
                autocomplete="new-password"
                ngModel
                required
                appRequireEquality
                [requireEqualityTo]="passwordInput.value"
                #repeatPasswordInput="ngModel"
              />
              <span
                *ngIf="
                  !repeatPasswordInput.valid && repeatPasswordInput.touched
                "
                class="help-block"
                >Password values must match!</span
              >
            </div>
          </ng-container>

          <!-- Login form -->
          <ng-container *ngIf="formMode === 'login'">
            <div class="form-group form-group-lg">
              <label for="username">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                placeholder="username@example.com"
                autocomplete="username"
                ngModel
                required
              />
            </div>
            <div class="form-group form-group-lg">
              <label for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                placeholder="password"
                autocomplete="current-password"
                ngModel
                required
                minlength="1"
                #passwordInput="ngModel"
              />
            </div>
          </ng-container>

          <!-- Buttons -->
          <div class="flex-row">
            <button
              type="submit"
              mat-raised-button
              [color]="formMode === 'login' ? 'primary' : 'accent'"
              class=""
              [disabled]="!form.valid || (loading$ | async)"
            >
              {{ formMode === 'login' ? 'Login' : 'Sign Up' }}
            </button>

            <button
              type="button"
              mat-raised-button
              (click)="this.switchFormMode()"
              [disabled]="loading$ | async"
            >
              Switch to {{ formMode === 'login' ? 'sign up' : 'login' }}
            </button>
          </div>
        </form>
      </div>
    </div>
    <app-alert
      *ngIf="error$ | async"
      type="error"
      [action]="formMode === 'login' ? 'Login' : 'Sign Up'"
      [message]="error$ | async"
      (dismiss)="onDismissError()"
    ></app-alert>
  </div>
  <ngx-spinner [showSpinner]="(loading$ | async) || false"></ngx-spinner>
</div>
