<ng-container *ngIf="selectedRecipe; else NoRecipeSelected">
  <div>
    <h1>{{ selectedRecipe.name }}</h1>
  </div>
  <!-- Actions menu -->
  <div class="action-menu">
    <div appDropdown>
      <button
        mat-raised-button
        color="primary"
        type="button"
        [mat-menu-trigger-for]="manageRecipeMenu"
      >
        <span class="inline-flex">
          Manage Recipe
          <mat-icon>expand_more</mat-icon>
        </span>
      </button>
      <!-- Manage recipe menu actions -->
      <mat-menu #manageRecipeMenu="matMenu">
        <button mat-menu-item (click)="addToShoppingList()">
          <mat-icon>shopping_cart</mat-icon>
          To Shopping List
        </button>
        <button
          mat-menu-item
          [routerLink]="[RecipeRootView, selectedRecipe.id, 'edit']"
        >
          <mat-icon>edit</mat-icon>
          Edit Recipe
        </button>
        <button mat-menu-item (click)="deleteRecipe()">
          <mat-icon>delete</mat-icon>
          Delete Recipe
        </button>
      </mat-menu>
    </div>
  </div>
  <!-- Content -->
  <h3>Description</h3>
  <hr />
  <div class="wrapper">
    <div class="img-area">
      <img
        [src]="selectedRecipe.imageUrl"
        alt=""
        class="img-responsive img-rounded shadowed squared"
      />
    </div>

    <div class="description-area shadowed">
      <p class="description-text">{{ selectedRecipe.description }}</p>
    </div>

    <!-- Ingredients -->
    <div class="ingredients-area">
      <h3>Ingredients</h3>
      <hr />
      <div class="" *ngFor="let phase of selectedRecipe.phases">
        <h4 *ngIf="phase.name !== ''">{{ phase.name | uppercase }}</h4>
        <ul>
          <li *ngFor="let item of phase.items">
            {{ item.amount }} {{ item.unit }} {{ item.ingredient.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #NoRecipeSelected>
  <h3>Please select a recipe</h3>
</ng-template>
