<mat-form-field appearance="fill" style="width: 100%; height: 100%">
  <mat-label>Name</mat-label>
  <input
    matInput
    type="text"
    placeholder="ingredient name"
    aria-label="ingredient-name"
    [formControl]="control"
    [matAutocomplete]="autoComplete"
    (blur)="onBlur()"
  />
  <mat-autocomplete autoActiveFirstOption #autoComplete="matAutocomplete">
    <mat-option
      *ngFor="let option of filteredNames$ | async"
      [value]="option"
      >{{ option }}</mat-option
    >
  </mat-autocomplete>
</mat-form-field>
