<div *ngIf="item" class="flex-container">
  <div class="flex-text">
    {{ item.ingredient.name }}
  </div>
  <mat-form-field appearance="outline" class="numeric-field input-field">
    <mat-label>Amount</mat-label>
    <input
      matInput
      type="number"
      name="amount"
      [(ngModel)]="newAmount"
      (change)="onAmountUpdate()"
      (click)="onAmountClick($event)"
    />
  </mat-form-field>
  <div class="no-wrap unit-text">{{ item.unit }}</div>
  <button mat-icon-button (click)="deleteItem()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
