<h3>Shopping List</h3>
<hr />
<div class="content-container">
  <div class="content">
    <app-shopping-edit></app-shopping-edit>
    <hr *ngIf="!isEmpty" />

    <div class="shopping-list">
      <div
        class="shopping-list-item"
        *ngFor="let item of items; trackByField: 'ordinal'"
        [ngClass]="selectedItem?.ordinal === item.ordinal ? 'selected' : ''"
        [@shoppingList]
        [@.disabled]="listInitialization"
      >
        <app-shopping-list-item
          [item]="item"
          (click)="onSelectItem(item)"
        ></app-shopping-list-item>
      </div>
    </div>
    <hr />
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="onClearAll()"
      [disabled]="isEmpty"
    >
      <div class="action-button">
        <mat-icon>clear_all</mat-icon>
        <span>Clear all</span>
      </div>
    </button>
  </div>
</div>
<ngx-spinner [showSpinner]="(isUpdating$ | async) || false"></ngx-spinner>
