<h3>Shopping List</h3>
<hr />
<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr *ngIf="!isEmpty" />

    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let item of items$ | async"
        [ngClass]="selectedItem?.ordinal === item.ordinal ? 'selected' : ''"
      >
        <app-shopping-list-item
          [item]="item"
          (click)="onSelectItem(item)"
        ></app-shopping-list-item>
      </a>
    </ul>
    <hr />
    <button
      class="btn btn-danger"
      type="button"
      (click)="onClearAll()"
      [disabled]="isEmpty"
    >
      <fa-icon [icon]="iconClearAll"></fa-icon> Clear all
    </button>
  </div>
</div>
