.content-container {
  width: 100%;
  max-width: 98vw;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1;
}

.item-row {
  cursor: pointer;
  height: 10rem !important;
  text-decoration: none;
}

.shopping-list-item:nth-child(2n) {
  background-color: rgb(248, 248, 248);
}

.shopping-list-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.selected {
  background-color: rgba(118, 214, 218, 0.715) !important;
  border: 1px solid darkgray;
  border-radius: 1rem;
  font-weight: 500;
}

.danger-button {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.action-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.danger-button:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
