<div class="wrapper">
  <div class="header">
    <div class="title">
      <h1 class="title-text">
        {{ data.confirmationType | titlecase }} confirmation
      </h1>
    </div>
    <button
      mat-dialog-close
      mat-icon-button
      type="button"
      aria-label="Close"
      (click)="onCancel()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <hr />
  <div mat-dialog-content class="content">
    Are you sure you want to {{ action }} {{ description }}?
  </div>
  <hr />

  <mat-dialog-actions class="modal-buttons">
    <button
      id="primary-button"
      mat-raised-button
      type="button"
      [ngClass]="yesButtonClasses"
      (click)="onConfirm()"
    >
      Yes
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      type="button"
      (click)="onCancel()"
    >
      No
    </button>
  </mat-dialog-actions>
</div>
