<a
  style="cursor: pointer"
  class="list-group-item clearfix"
  (click)="onSelect()"
  [ngClass]="(isSelected$ | async) ? 'selected' : ''"
>
  <div class="component-wrapper">
    <div class="vertical-label-box">
      <span class="vertical-label">Recipe</span>
    </div>
    <div class="content-wrapper">
      <div class="title-area">
        <h4 class="list-group-item-heading">{{ recipe?.name }}</h4>
      </div>
      <div class="description-area">
        <p class="list-group-item-text">{{ recipe?.description }}</p>
      </div>
      <div class="img-area">
        <img
          [src]="recipe?.imageUrl"
          [alt]="recipe?.name"
          class="img-responsive img-rounded"
          style="max-height: 7rem"
        />
      </div>
    </div>
  </div>
</a>
