<a
  style="cursor: pointer"
  class="list-group-item clearfix"
  (click)="onSelect()"
  [ngClass]="(isSelected$ | async) ? 'selected' : ''"
>
  <div class="component-wrapper">
    <div class="vertical-label-box">
      <span class="vertical-label">Recipe</span>
    </div>
    <div class="content-wrapper">
      <div class="title-area">
        <h4 class="list-group-item-heading">
          {{ recipe?.name | ellipsis : 30 }}
        </h4>
      </div>
      <div class="description-area">
        <p>{{ recipe?.description | ellipsis : 42 }}</p>
      </div>
      <div class="img-area">
        <img
          [src]="recipe?.imageUrl"
          [alt]="recipe ? 'image of ' + recipe.name : ''"
        />
      </div>
    </div>
  </div>
</a>
