.flex-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  min-width: 20em;
}

.flex-image-area {
  flex-basis: content;
  flex-shrink: 1;
  height: 100%;
}

.flex-text-area {
  justify-self: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex: 1;
}

.selected {
  background-color: rgba(23, 81, 227, 0.408);
}
