/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.link {
  cursor: pointer;
}

.ml-1 {
  margin-left: 1rem;
}

.numeric-field {
  max-width: 10rem;
}

h1,
h2,
h3,
h4 {
  margin-left: 1rem !important;
}

hr {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border: 0;
  border-top: 1px solid #eee;
}

* {
  box-sizing: border-box;
}
