<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="wrapper">
    <div class="name-area">
      <app-ingredient-field
        id="name"
        name="name"
        ngModel
        required
      ></app-ingredient-field>
    </div>

    <mat-form-field class="amount-area" appearance="fill">
      <mat-label>Amount</mat-label>
      <input
        matInput
        type="number"
        id="amount"
        name="amount"
        ngModel
        required
        pattern="^[0-9]+[0-9]*\.?[0-9]*"
      />
    </mat-form-field>

    <mat-form-field class="unit-area" appearance="fill">
      <mat-label>Unit</mat-label>
      <mat-select id="unit" name="unit" ngModel required>
        <mat-option
          [value]="unit.value"
          *ngFor="let unit of RecipeUnit | keyvalue"
        >
          {{ unit.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="action-buttons">
    <app-action-button
      class="action-button"
      type="submit"
      [icon]="formMode === 'update' ? 'done' : 'add'"
      [disabled]="!form.valid || (loading$ | async) || false"
      indent="false"
      >{{ formMode === 'update' ? 'Update' : 'Add' }}</app-action-button
    >
    <app-action-button
      class="action-button"
      *ngIf="formMode === 'update'"
      color="warn"
      icon="remove_circle"
      (clicked)="onDelete()"
      >Delete</app-action-button
    >
    <app-action-button
      class="action-button"
      type="reset"
      color="basic"
      [icon]="formMode === 'update' ? 'cancel' : 'clear'"
      (clicked)="onClear()"
      [disabled]="formMode === 'new' && !form.touched"
      >{{ formMode === 'update' ? 'Cancel' : 'Reset' }}</app-action-button
    >
  </div>
</form>
